.main{
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 10px;
   padding-right: 10px;
   background-color: rgba(206, 104, 21, 0.692);
   border-radius: 10px;
}
.main div{
    position: absolute;
    right: 20px;
}